/* LandingPage.css */

.entries-list {
    margin-top: 20px;
}

.entry {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.entry h2 {
    font-size: 1.2em;
    margin: 0;
}

.entry p {
    margin: 5px 0;
}

.entry button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px; /* Add space between buttons */
}

.entry button:last-child {
    margin-right: 0; /* Remove margin from the last button */
}

.entry button:hover {
    background-color: #0056b3;
}

/* Modal styles */
.modal {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal h2 {
    margin-top: 0;
}

.modal button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 20px;
}

.modal button:hover {
    background-color: #c82333;
}

.entry-content {
    word-wrap: break-word;
}

.entry-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

.create-entry-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.create-entry-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px; /* Adjust as needed */
}

.delete-button:hover {
    background-color: #c82333;
}

/* Modal styles for delete button */
.modal .delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 20px;
}

.modal .delete-button:hover {
    background-color: #c82333;
}

.alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #d4edda;
    color: #155724;
    padding: 10px 20px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    z-index: 1000;
}
