body {
  background-color: black;
  color: white;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

button {
  background-color: white;
  color: black;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: gray;
  color: white;
}

.navbar .project-name {
  font-family: 'Pacifico', cursive; /* Sacramento alternative */
  font-size: 24px;
  color: white;
  text-decoration: none;
  margin-top: 0px;
  margin-right: auto; /* Pushes the name to the left */
}

.navbar .nav-link {
  margin-left: 20px; /* Add some space between project name and links */
}

body {
  font-family: 'Courier New', Courier, monospace;
}

body {
  font-family: 'Courier New', Courier, monospace;
}
/*
.journalhub-title {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  margin-bottom: 20px;
}
*/